[submodule "cip113-programmable-tokens-platform"]
	path = cip113-programmable-tokens-platform
	url = https://github.com/cardano-foundation/cip113-programmable-tokens-platform/
[submodule "CMTAT-equivalency-assessment"]
	path = CMTAT-equivalency-assessment
	url = https://github.com/CMTA/CMTAT-equivalency-assessment
[submodule "fn-bafin-cardano-sc"]
	path = fn-bafin-cardano-sc
	url = https://github.com/FluidTokens/fn-bafin-cardano-sc.git
[submodule "cpt-rwa-ch-de-cmta-reference"]
	path = cpt-rwa-ch-de-cmta-reference
	url = https://github.com/cardano-foundation/cpt-rwa-ch-de-cmta-reference.git
